modules = ["python-3.11"]
[nix]
packages = ["gdb", "python39Packages.pytest"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45162478
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 user_app.py"
